body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #EFE6E4;
}

input {
  outline: none;
  background-color: transparent;
  outline: none;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  width: 508px;
  height: 35px;
  font-size: 18px;
  line-height: 30px;

}

iframe {
  width: 590px;
  height: 624px;
}

a:hover {
  color: #533738;
}

.none {
  display: none;
}