@font-face {
  font-family: "MontserratRegular";
  src: url("./../fonts/MontserratRegular/MontserratRegular.eot");
  src: url("./../fonts/MontserratRegular/MontserratRegular.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/MontserratRegular/MontserratRegular.woff") format("woff"),
    url("./../fonts/MontserratRegular/MontserratRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}